.App {
  text-align: center;
}

.plant-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.plant-details {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 20px;
}

.plant-image {
  max-width: 300px;
}

p {
  font-size: 12px;
}
