@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.App {
  text-align: center;
}

/* --------------------- Header ------------------------- */

.header {
  background-color: #363B21;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 10px;
  font-family: 'Work Sans', sans-serif;
  font-size: 30pt;
  font-weight: bold;
  color: white;
  justify-content: flex-start;
  margin-left: 30px;
}

a {
  text-decoration: none;
}

.logout-button,
.login-button {
  height: 35px;
  margin-right: 40px;
  background-color: #B37266;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 12pt;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
  justify-content: center;
}

.logged-in {
  display: flex;
  align-items: center;
}

.welcome {
  color: white;
  margin: 0;
  margin-right: 20px;
  font-family: 'Work Sans', sans-serif;
  font-size: 12pt;
}

/* --------------------- Auth Form ---------------------- */

.auth-container {
  background-color: #87221E;
  height: 330px;
  display: flex;
  align-items: center;
}

.auth-form {
  position: relative;
  z-index: 8;
  right: 50%;
  min-width: 350px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0px 380px 0px 200px; */
  background-color: #FBF7D6;
  border-radius: 4px;
}

.auth-oval-leaf {
  position: relative;
  z-index: 4;
  right: 9%;
  top: -20%;
  transform: rotate(55deg);
  max-width: 400px;
}

.auth-dark-leaf {
  position: relative;
  z-index: 2;
  right: 49%;
  top: 10%;
  width: 300px;
}

.auth-circle-leaf {
  position: relative;
  z-index: 6;
  right: 45%;
  top: 30%;
}

.auth-form-title {
  font-family: 'Work Sans', sans-serif;
  font-size: 18pt;
  font-weight: bold;
  margin: 2px auto;
  margin-bottom: 10px;
}

.auth-register {
  font-family: 'Work Sans', sans-serif;
  font-size: 9pt;
  margin-top: 12px;
}

.auth-form-field {
  width: 200px;
  margin: 10px auto;
  background-color: #FBF7D6;
  border: none;
  border-bottom: 1px solid black;
}

::placeholder {
  font-family: 'Work Sans', sans-serif;
  font-size: 10pt;
}

.auth-form-submit-button {
  background-color: #B37266;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 10pt;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 4px 12px 4px 12px;
  margin-top: 12px;
}

/* -------------------- Plants ------------------- */

.plant-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plants {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.plant-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  margin: 20px auto;
}

.plant-image {
  max-width: 200px;
}

p {
  font-size: 12px;
}

.add-plant-button {
  background-color: #B37266;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 10pt;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 4px 12px 4px 12px;
}

.add-plant-form {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #B37266;
  margin-top: 20px;
  border-radius: 4px;
}

.plant-form-title {
  font-family: 'Work Sans', sans-serif;
  font-size: 18pt;
  font-weight: bold;
  margin: 10px;
}

.plant-form-input {
  margin-bottom: 10px;
  width: 450px;
}

.add-plant-submit {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 10pt;
  border: none;
  border-radius: 10px;
  padding: 4px 12px 4px 12px;
}
