@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.App {
  width: 100%;
  height: 100vh;
}

/* --------------------- Header ------------------------- */

.header {
  background-color: #363B21;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 8;
}

.logo {
  margin: 10px;
  font-family: 'Work Sans', sans-serif;
  font-size: 30pt;
  font-weight: bold;
  color: white;
  justify-content: flex-start;
  margin-left: 30px;
}

a {
  text-decoration: none;
}

.logout-button,
.login-button {
  height: 35px;
  margin-right: 40px;
  background-color: #B37266;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 12pt;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
  justify-content: center;
}

.logged-in {
  display: flex;
  align-items: center;
}

.welcome {
  color: white;
  margin: 0;
  margin-right: 20px;
  font-family: 'Work Sans', sans-serif;
  font-size: 12pt;
}

/* --------------------- Home Page ---------------------- */

.description-container {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #F3F0E9;
  align-items: center;
}

.description {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 150px;
}

.description-title {
  position: relative;
  z-index: 6;
  font-family: 'Work Sans', sans-serif;
  font-size: 60pt;
  font-weight: bold;
  color: #020100;
  margin: 0;
  margin-left: 50px;
}

.description-tagline {
  position: relative;
  z-index: 6;
  font-family: 'Work Sans', sans-serif;
  font-size: 25pt;
  font-weight: bold;
  color: #020100;
  text-align: end;
  margin-left: 60px;
}

.bitplant {
  max-width: 280px;
  margin-left: 80px;
  position: relative;
  z-index: 4;
}

/* --------------------- Auth Form ---------------------- */

.auth-container {
  background-color: #87221E;
  height: 100vh;
  display: flex;
  align-items: center;
}

.auth-form {
  position: relative;
  z-index: 8;
  right: 50%;
  top: -8%;
  min-width: 400px;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FBF7D6;
  border-radius: 4px;
}

.auth-oval-leaf {
  position: relative;
  z-index: 4;
  right: 9%;
  top: -20%;
  transform: rotate(55deg);
  max-width: 400px;
}

.auth-dark-leaf {
  position: relative;
  z-index: 2;
  right: 49%;
  top: 10%;
  width: 300px;
}

.auth-circle-leaf {
  position: relative;
  z-index: 6;
  right: 90%;
  top: 13%;
}

.auth-star-leaf {
  position: relative;
  z-index: 2;
  right: 65%;
  top: -40%;
  transform: rotate(-15deg)
}

.auth-form-title {
  font-family: 'Work Sans', sans-serif;
  font-size: 20pt;
  font-weight: bold;
  margin: 2px auto;
  margin-bottom: 10px;
}

.auth-register {
  font-family: 'Work Sans', sans-serif;
  font-size: 10pt;
  margin-top: 12px;
}

.auth-form-field {
  width: 220px;
  margin: 10px auto;
  background-color: #FBF7D6;
  border: none;
  border-bottom: 1px solid black;
  font-family: 'Work Sans', sans-serif;
  font-size: 12pt;
}

::placeholder {
  font-family: 'Work Sans', sans-serif;
  font-size: 10pt;
}

.auth-form-submit-button {
  background-color: #B37266;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 10pt;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 4px 12px 4px 12px;
  margin-top: 12px;
}

/* -------------------- Plants ------------------- */

.plant-parent-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plants-link {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 22pt;
  color: #020100;
  margin: 20px auto;
  text-decoration-line: underline;
}

.plant-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plants {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.plant-name {
  font-family: 'Work Sans', sans-serif;
  font-size: 14pt;
  color: #363A21;
}

.plant-info {
  max-width: 250px;
  height: 100%;
  background-color: #d9ffda;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #0a6334;
  margin: 10px;
  padding: 0px;
}

.plant-image {
  max-height: 300px;
}

p {
  font-size: 14px;
}

.add-plant-button {
  background-color: #B37266;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 10pt;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 4px 12px 4px 12px;
  margin: 20px;
}

.add-plant-form {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #B37266;
  margin-top: 20px;
  border-radius: 4px;
}

.plant-form-title {
  font-family: 'Work Sans', sans-serif;
  font-size: 18pt;
  font-weight: bold;
  margin: 10px;
}

.plant-form-input {
  margin-bottom: 10px;
  width: 450px;
}

.add-plant-submit,
.update-plant-submit {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 10pt;
  border: none;
  border-radius: 10px;
  padding: 4px 12px 4px 12px;
}

.plant-details {
  width: 657px;
  border: 1px solid black;
  display: flex;
}

.plant-description {
  font-family: 'Inconsolata', monospace;
  padding: 15px;
}

#plant-name {
  font-weight: bold;
  font-size: 18pt;
}

.update-button,
.delete-button {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 10pt;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 4px 12px 4px 12px;
  margin-top: 20px;
  opacity: 0.95;
}

.update-button {
  background-color: #0a6334;
  width: 200px;
  height: 30px;
}

.update-button:hover {
  opacity: 1;
}

.delete-button:hover {
  opacity: 1;
}

.delete-button {
  background-color: #87221E;
  width: 200px;
  height: 30px;
  margin-top: 15px;
}

.plant-update-form {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #B37266;
  margin-top: 20px;
  border-radius: 4px;
}

.delete {
  display: flex;
  justify-content: flex-end;
} 