@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.App {
  text-align: center;
}

.auth-container {
  background-color: #87221E;
  height: 340px;
  display: flex;
  align-items: center;
}

.auth-form {
  width: 400px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 380px 0px 200px;
  background-color: #FBF7D6;
  border-radius: 4px;
}

.auth-form-title {
  font-family: 'Work Sans', sans-serif;
  font-size: 18pt;
  font-weight: bold;
  margin: 2px auto;
  margin-bottom: 10px;
}

.auth-register {
  font-family: 'Work Sans', sans-serif;
  font-size: 9pt;
  margin-top: 12px;
}

.auth-form-field {
  width: 200px;
  margin: 10px auto;
  background-color: #FBF7D6;
  border: none;
  border-bottom: 1px solid black;
}

::placeholder {
  font-family: 'Work Sans', sans-serif;
  font-size: 10pt;
}

.auth-form-submit-button {
  background-color: #B37266;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 10pt;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 4px 12px 4px 12px;
  margin-top: 12px;
}

.plant-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.plant-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 20px auto;
}

.plant-image {
  max-width: 200px;
}

p {
  font-size: 12px;
}
